.App {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin: 0; 
  padding: 0;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu * {
  margin-right: 2rem;
  padding: 0.3rem 1rem;
  border: 1px solid black;
  cursor: pointer;
}

.menu-active {
  background-color: black;
  color: white;
}

.main {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.main * {
  margin: 5px;
}