.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin: 0; 
  padding: 0;
}

.list {
  display: inline-block;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 3px;
}

.imgPortfolio {
  width: 300px;
}